/*
Structure fichier CSS :

1- Css commun
2- Spécifique Accueil
3- Spécifique Contact
4- Spécifique singlecar
5- Media queries
*/

/************************************1- CSS COMMUN*********************************************************/

:root{

    /*Eléments de la charte graphique*/

--ClubAutoBlanc:#FFFFFF;
--ClubAutoOrange:#FAB637;
--ClubAutoRouge:#FF4848;
--ClubAutoMarron:#CC6119;
--ClubAutoGris:#ECEFF3;
--ClubAutoNoir:#232628;
--ClubAutoBleu:#6C98E1;

--ClubAutoTexte: 'Open Sans', sans-serif;
--ClubAutoTitres: 'Montserrat', sans-serif;
}

/*Coloration ponctuelle texte*/
.whiteTouch{
color: var(--ClubAutoBlanc);
}

.blueTouch{
color: var(--ClubAutoBleu);

}

.brownTouch{
color: var(--ClubAutoMarron);

}



.isBold{
font-weight: bolder;

}

.isBigger{
font-size: 1.5em;

}



html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
max-width: 1366px;
margin: 0 auto;
font-family: var(--ClubAutoTexte);
color:var(--ClubAutoGris);


}

h1, h2, h3{
    font-family: var(--ClubAutoTitres);
}

a{
    text-decoration: none;
}

a:visited:link{
    text-decoration: none;
}

ul{
    list-style: none;
}


/*Container flex, bg black*/
.genericContainer{
background-color: var(--ClubAutoNoir);

}


/*Header*/

.mobileMenu{
    float: right;
    display: block;
    
    }    
    
    .mobileMenu img{
        
        
        margin-top: 30px;
        width: 50px;
    
    }

header h1{
    padding-left: 3.5vw;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: auto;
    color: var(--ClubAutoBlanc);
    font-size: 3em;
}

#headInfos{

        
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: start;
    color: #FFFFFF;
    }
    
    #mainTitle, #adress, #horaires, #headerSocials{
    display: none;
    
    }
    
    
    #headInfos div{
    margin-top: 20px;
    
    }
    
    #headInfos div img{
    width: 50px;
    height: 50px;
    }

    #headInfos div a svg{
        width: 30px;
        height: 30px;
        }

        #headInfos div a:hover > svg{
            fill: var(--ClubAutoMarron);
            }

    .iconTextGrid{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: start;
        
        
        }
        
        .iconTextGrid p{
            margin-top: 0;
            margin-left: 2px;   
            }
            
        
        
        .iconTextGrid div{
        
            display: flex;
            flex-direction: column;
            
            
            }
        
            #horaires{
        align-self: auto;
        
            }
        
            #horaires p{
        margin-top: 0;
        
            }

                    
            #headerSocials a{
                display: flex;
                width: 50px;
                height: 50px;
                background-color:rgb(59, 57, 57);
                border-radius:50%;
                margin: 5px;
                justify-content: center;
                align-items: center;
            }
        
            #tel p{
                text-transform: uppercase;
                            }

.flexContCol{
display: flex;
flex-direction: column;

}

#mainImg{
    display: none;
}

/*Fin header*/


/*NAVIGATION*/
#wrapMenu{
    display: none;
    flex-direction: column;
position: absolute;
width: 100%;
height: 100vh;
top: 80px;
background-color: #232628;
gap: 10px;
transition: display .5s;
font-weight: bold;
font-size: 1.2em;


}

#wrapMenu li{
list-style: none;
text-decoration: none;
border-bottom: 1px solid #CC6119;
border-left: 2px solid #CC6119;
padding: 10px;
margin: 10px;


}

#wrapMenu li a{
    display: inline-block;
    padding: .75em 1em;
text-decoration: none;
width: 100%;


}

.menuToggle{
display: none;

}



/*FIN NAVIGATION*/


/*Footer*/
footer{
    width: 100%;
    margin :0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto;
}



#footerInfo{
margin: 40px 10px;    
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(4, auto);
justify-items: center;
border-bottom: 1px solid var(--ClubAutoBlanc);
font-size: .9rem;
}

.info{
width: 98%;
display: flex;
flex-direction: column;
margin: 15px auto;
}

#mention{
justify-self: center;
font-size : 0.8rem;
}

.newsLetter{
display: flex;
align-content: center;


}

.newsLetter input{
    height: 32px;
    width: 90%;
    margin-right: 0;
    border:none;
}

.newsLetter a img{
    width: 32px;
    height: 32px;
    margin: 0;
}

.socials{
display: flex;
flex-direction: row;
justify-content:flex-start;


}

.socials a{
width: 40px;
height: 40px;
background-color: rgb(59, 57, 57);
margin: 2px;
display: flex;
align-items: center;
justify-content: center;

}

.socials a img{
    width: 38px;
    height: 38px;     
    }

    .socials a svg{
        width: 25px;
        height: 25px;
             
        }

        .socials a:hover > svg{
            fill: var(--ClubAutoMarron);
                 
            }

/*Fin Footer*/


/************************************2- SPECIFIQUE Accueil******************************************************/

/*Section présentation*/
#presentation{
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    color: var(--ClubAutoNoir);
    }
    
    #presentation article{
    height: 100%;    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 20px;


    /*display: flex;
    flex-direction: column;*/


    
    }
    
    .cardText{
    height: auto;
    }

 
    
    
    .presentationImg{
    width: 100%;
    align-self: center;
    
    }

    .check{
        margin-right: 15px;
    }

    #mainImg{
        display: none;
    }

    /*Fin Section présentation*/


    /*Section vente ou location*/

    #saleOrLoc{
        max-width: 950px;
        margin: 0 auto;
        background-image: url("../images/vente-location.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        gap: 44px;
        
        }
        
        #saleOrLoc article a{
            text-decoration: none;
        }
        
        .saleOrLocCard{
        width: 100%;
        
        
        }
        
        .saleOrLocCard h2{
            
            
            max-width: 50%;
            margin: 5% auto;
            
            }
        
        .saleOrLocCard p{
            
            color: #FFFFFF;
            max-width: 50%;
            margin: 10px auto;
            
            }
        
        .locCard{
        background-color: rgba(250, 182, 55, 0.8);
        
        }
        
        .saleCard{
        background-color: rgba(255,72,72,0.8);
        
        }

    /*Fin section vente ou location*/

    /*Section véhicules récents*/
#newCars{
    max-width: 950px;
background-color: black;
display: flex;
flex-direction: column;
margin: 0 auto;

}

.decoTitle{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    border-bottom:#CC6119 2px solid;

}

#carsWrapper{
display: flex;
flex-direction: column;
gap: 20px;

}

.cardCars{
width: 95vw;
margin: 0 auto;


}

.cardCarsInfo{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: #232628;
    font-weight: bold;
    margin-bottom: 20px;
    
    
    }

    .cardCarsInfo p{
    margin-left: 20px;    
    width: 60%;
    font-size: 0.85em;
    }

 


    .priceTag{
        margin-top: 1em;
        margin-left: 1em;
        padding: 10px;
        background-color: #6C98E1;
        align-self: flex-start;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 0.85em;

    }

    .isCrossed{
color: black;
font-size: 0.75em;
font-weight: lighter;
text-decoration: line-through;

    }

#carsWrapper article img{
width: 100%;

}

/*Fin section véhicules récents*/

/*Section Pourquoi nous ?*/

#whyUs{
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
margin: 0 auto;
}

#whyUs h2{
    align-self: center;

}

#whyUsWrapper{
display: flex;
flex-direction: column;
margin: 20px auto;

}

.cardWhy{
max-width: 80%;
    display: grid;
    grid-template-areas: "icone titre"
                        " icone texte"
                        "icone texte" ;
                        gap: 20px;
                       


}

.cardWhy img{
    grid-area: icone;
    width: 65px;

}

.cardWhy h3{
    text-transform: uppercase;
    grid-area: titre;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.cardWhy p{
    grid-area: texte;
    margin: 0;
    color: grey;
    font-size: 0.9em;
    align-self: flex-end;

}

.buttonWhy{
    color:#FFFFFF;
    font-weight: bold;
    font-size: 1.4em;
    padding: 15px 40px 15px 40px;
    background-color: #6C98E1;
    text-decoration: none;   
    justify-self: stretch;
    text-align: center;
    border: none;
    margin: 25PX auto;
    

}


/*Fin Section Pourquoi nous*/

/*Section conclusion*/

#conclusion{
        
    max-width: 950px;
    margin: 0 auto;
    background-image: url("../images/vehicule3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    

}

#conclusion article p{
    color: #232628;

}

#conclusion article a{
    text-decoration: none;
    color: #232628;


}

/*Fin Section conclusion*/



/************************************3- SPECIFIQUE CONTACT******************************************************/

        /*Formulaire*/

        #contactForm{
            background-color: rgba(255, 255, 255, 0.7);
            color: var(--ClubAutoNoir);
            width: 65vw;
            margin: 0 auto;
            padding: 6vw 6vw;
            gap: 25px;
            }

        #contactContent{
            background-color: #ECEFF3;
            background-image: url("../images/vehicule3.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            
                        }

                        #inputsWrapper{
    
gap: 25px;

}

#contactForm p{
font-weight: bold;
font-size: 2.5em;


}

#contactForm input[type=submit]{
    color:#FFFFFF;
    font-weight: bold;
    font-size: 1.4em;
    padding: 15px 40px 15px 40px;
    background-color: #6C98E1;
    text-decoration: none;   
    justify-self: stretch;
    text-align: center;
    border: none;
    }

.flexContCol label{
font-weight: bold;
margin-bottom: 15px;

}

.flexContCol input{
background-color: #ECEFF3;
border:none;
height: 6vh;
}

.flexContCol textarea{
    background-color: #ECEFF3;
    border:none;
    height: 20vh;
    }



        /*Fin formulaire*/

/************************************4- SPECIFIQUE SINGLE CAR******************************************************/

/*Breadcrumbs*/

.breadcrumbs{
    max-width: 950px;
display: flex;
border-bottom :#ECEFF3 1px solid ;
align-content: flex-start;
margin: 0 auto;
}

.breadcrumbs li a{
text-decoration: none;
color: #aeb1b5;
font-size: 0.75em;

}

.breadcrumbs li+li:before {
    padding: 8px;
    color:#aeb1b5;
    content: "/\00a0";
}

.breadcrumbs li a:hover {
    color:#232628;
    text-decoration: underline;
  }

  #carSubContent{
    width: 90%;
    margin: 0 auto;
    color: var(--ClubAutoNoir);
  }

/*Fin breadcrumbs*/


#mainSingleCar{
    max-width: 950px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
        }
    
        .singleCarWrapper{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    
        }
    
        /*.singleCarWrapper img, nav{
            width: 100%;
            
                }
    */
        #singleCarImg{
            width: 90%;
            margin: 15px auto;
        }

        #onglets{
            display: flex;
            flex-direction: column;
            background-color: #232628;
            width: 90%;
            margin: 0  auto;
            padding: 0;
            justify-items: center;
    
    
        }
    
        .itemOnglets{
    
           padding: 20px;
           text-align: center;
               
        }
    
        .itemOnglets a{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: bold;
    
        }

       #quote{
color:var(--ClubAutoGris);
font-style: italic;
padding-left: 30px;
border-left: 5px solid var(--ClubAutoMarron);

        }

/************************************5-  MEDIA QUERIES ******************************************************/

@media screen and (min-width: 768px) {

/*HEADER + NAVIGATION*/

.mobileMenu{
        
    display: none;
    
    
    
    }    

    #mainTitle, #adress, #horaires, #headerSocials{
        display: unset;
        
        }

    #headInfos{

        
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: start;
        align-items: start;
        color: #FFFFFF;
        gap: 15px;
        
        }

        #adress.iconTextGrid{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: start;
            
            
            }
            
            #adress.iconTextGrid p{
                margin-top: 0;
                margin-left: 2px;   
                }
                
            
            
            #adress.iconTextGrid div{
            
                display: flex;
                flex-direction: column;
                
                
                }

                #headerSocials{
                    display: flex;
                    justify-self: center;


                }

    #wrapMenu{
        position: static;
        display: flex;
        flex-direction: row;
        background-color: #ECEFF3;
        height: 5vh;
        justify-content: flex-end;
        align-content: center;
        flex-wrap: wrap;
        font-weight: bolder;
        margin-bottom: 0;
    width: auto;
        
        }


        #wrapMenu li{
            font-size: 1em;
            border: none;
            display: unset;
            margin: unset;


        }

        #wrapMenu li a {
            text-decoration: none;
            align-self: center;
            color: var(--ClubAutoNoir);
           
        }

#mainImg{
display:unset;
    width: 100%;
    height: 60vh;
    object-fit: cover;

}

/*FIN HEADER + NAVIGATION*/

/*************MQ Spécique accueil******************/

/*Section présentation*/

#presentation article{
grid-template-rows: 1fr;
grid-template-columns: 1fr 1fr;


}

/*Fin Section présentation*/

 /*Section vente-loc*/

 #saleOrLoc{
    flex-direction: row;
    justify-content: center;
    
    
    }
    
    .saleOrLocCard{
        width: 45%;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    
    .saleOrLocCard h2{
        
        
        max-width: 80%;
        margin: 5% auto;
        
        }
    
    .saleOrLocCard p{
        
        color: #FFFFFF;
        max-width: 80%;
        margin: 10px auto;
        
        }
    
        /*Fin Section vente-loc*/



/*Section new cars*/



#carsWrapper{
    
    flex-direction: row;
    gap: 20px;
    justify-content:space-around;
    
    }

.cardCars{
width: 30%;

}

.cardCarsInfo{
flex-direction: row;
justify-content: space-between;

}

.priceTag{margin-right: 10px;}

/*Fin section new cars*/        


    /*Section pourquoi nous*/

    #whyUsWrapper{
        
        flex-direction: row;
    justify-content: space-between;
    gap: 20px;
        
        }

    /*Fin section pourquoi nous*/

    /*Section conclusion*/
    #conclusion article {

        margin-left: 15%;


    }

    /*Section conclusion*/

    /*************Fin MQ Spécique accueil******************/

/*FOOTER*/
#footerInfo{
    max-width: 950px;
    margin: 0 auto;
    font-size: .9rem;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
justify-items: center;
gap: 20px;

}



/*FIN FOOTER*/



/***********MQ Page contact*****************/
#contactForm{
    display: grid;
    grid-template-areas:"title title title" 
                        "inputs inputs textarea"
                         "inputs inputs textarea"
                        "button button button"   ;


    }

    #contactForm p{
grid-area: title;
font-size: 2.5em;

    }

    #contactForm input[type=submit]{
        grid-area: button;
        justify-self: center;
    }

    #inputsWrapper{
grid-area: inputs;
display: contents;
flex-wrap: wrap;
justify-content: space-between;
gap: 2%;


    }

    #messageBox{
grid-area: textarea;

    }

/***********Fin MQ Page contact*****************/

/**************MQ Single car**********************/
#onglets{
    flex-direction: row;
        
    }

    

/*Fin MQ Single car*/



}